{% liquid
    if prod.media.size > 1
        assign show_as_slider = true
    endif

    case product_columns_desktop
    when '5'
      assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 5), 270px' | replace: '[[mcc]]', mobile_column_count
    when '3'
      assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 3), 450px' | replace: '[[mcc]]', mobile_column_count
    when '2'
      assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 2), 690px' | replace: '[[mcc]]', mobile_column_count
    else
      # Using a 4 item grid as default for sizes
      assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 4), 304px' | replace: '[[mcc]]', mobile_column_count
    endcase

%}

<div class="collection-grid-item
    animation
    animation--item
    {% if has_grid_reveal -%} animation--item-initial {%- endif %}
">
    <div class="grid-collection-item__inner">
        <div class="product-item__media 
            {%- if show_multiple_images %} product-item__media--multiple-images {%- endif %}
            {%- if show_as_slider %} product-item__media--slider {%- endif %}
        ">
            {%- liquid
            assign image_wrapper_class = 'product-item__image'

            if show_multiple_images
                assign image_wrapper_class = image_wrapper_class | append: ' product-item__image--one'
                assign second_image = prod.media[1].preview_image

                if prod.featured_media != prod.media[0]
                assign second_image = prod.media[0].preview_image
                endif
            endif
            -%}

            
            {% unless show_as_slider %}
                <a class="product-item__image-link" href="{{ prod.url | within: collection }}" aria-label="{{ prod.title }}">
                    {% render 'image',
                        image: prod.featured_media,
                        wrapper_class: image_wrapper_class,
                        aspect_ratio: product_listing_aspect_ratio,
                        object_fit: product_listing_aspect_ratio,
                        include_placeholder: true,
                        sizes: sizes,
                        src_set_type: 'grid'
                    %}
                    {%- if show_multiple_images -%}
                        {% render 'image',
                        image: second_image,
                        wrapper_class: 'product-item__image product-item__image--two',
                        aspect_ratio: product_listing_aspect_ratio,
                        object_fit: product_listing_media_fit,
                        include_placeholder: true,
                        sizes: sizes,
                        no_lazy_load: true,
                        src_set_type: 'grid'
                        %}
                    {%- endif -%}
                </a>
            {% endunless %}

            {% if show_as_slider %}
                <slider-collection-item
                    class="
                    product-item__slider__content
                    "
                    data-products-per-view="1"
                    data-mobile-products-per-view="1"
                > 
                    <div class="product-item__slider" id="Slider-Collection-{{ prod.id }}">
                        {% for media in prod.media %}
                        <div class="product-list-slider__collection slider-collection__slide">
                            <a class="product-item__image-link" href="{{ prod.url | within: collection }}" aria-label="{{ prod.title }}">
                            {% case media.media_type %}
                                {% when 'image' %}
                                <div class="product-item--media">
                                    {% render 'image',
                                    image: media.preview_image,
                                    wrapper_class: image_wrapper_class,
                                    aspect_ratio: product_listing_aspect_ratio,
                                    object_fit: product_listing_media_fit,
                                    include_placeholder: true,
                                    sizes: sizes,
                                    src_set_type: 'grid'
                                    %}
                                </div>
                            {% endcase %}
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <button
                        type="button"
                        class="carousel__navigation-button carousel__navigation-button--back"
                        data-prev
                        aria-label="{{ 'general.accessibility.carousel_previous' | t }}"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" aria-hidden="false"><path stroke="currentColor" d="m15 18-6-6 6-6"></path></svg>
                    </button>
                    <button
                        type="button"
                        class="carousel__navigation-button carousel__navigation-button--forward"
                        data-next
                        aria-label="{{ 'general.accessibility.carousel_next' | t }}"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" aria-hidden="false"><path stroke="currentColor" d="m9 6 6 6-6 6"></path></svg>
                    </button>

                    <!-- If we need scrollbar -->
                    {%- assign default_progress = 1 | times: 1.0 | divided_by: prod.media.size -%}

                    {%- assign scroll_area_id = 'Slider-Collection-' | append: prod.id -%}
                    {%- render 'scrollbar', observes: scroll_area_id, default_progress: default_progress -%}
                </slider-collection-item>
            {% endif %}
            {% unless placeholder %}
                {%- render 'product-badges',
                prod: prod,
                show_sale_badge: settings.product_listing_show_sale_badge,
                show_custom_badges: settings.product_listing_show_custom_badges,
                show_sold_out_badge: settings.product_listing_show_sold_out_badge
                -%}
            {% endunless %}
        </div>
        <div class="grid-collection-item__meta">
            <div class="grid-collection-item__text ta-c">
                {%- if prod.title != blank -%}
                    <h4 class="ff-heading fs-heading-5-base grid-collection-item-title">
                        <a href="{{ prod.url | within: collection }}">{{ prod.title }}</a>
                    </h4>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>