{%- liquid
  assign overlay_opacity = meganav_settings.overlay_opacity | divided_by: 100.0
  assign text_position = meganav_settings.text_position | split: "_"
  assign horizontal_position = text_position | first
  assign vertical_position = text_position | last
-%}

{%- capture meganav_primary -%}
  <div class="meganav__primary">
    {% render 'meganav-nav' with meganav_settings: meganav_settings, link: link %}
  </div>
{%- endcapture -%}


{% case block_variant %}
    {% when 'desktop' %}
        <div
        class="
            meganav
            {% if right_column %}
            right-meganav
            {% endif %}
            {% if meganav_settings.show_promo %}
            meganav--has-promo
            meganav--promo-position-{{ meganav_settings.secondary_position }}
            {% endif %}
            {% if settings.enable_section_animations %}
            animation
            animation--dropdown
            {% endif %}
        "
        id="{{ menu_id }}"
        data-submenu data-hidden="true"
        data-menu-handle="{{ menu }}"
        data-meganav-type="full_width_meganav_images"
        {% unless meganav_type == 'full_width_meganav' or meganav_type == 'full_width_meganav_images' %}data-align-to-trigger="true"{% endunless %}
        style="
        --column-count: {{ meganav_settings.column_count }};
        --secondary-width: 100%;
        --color-promo-text: {{ meganav_settings.text_color }};
        --color-text-overlay-button: {{ meganav_settings.text_color }};
        --color-background-overlay-button: {{ meganav_settings.text_color }};
        --color-background-overlay-outline-button-alpha:
            {{ meganav_settings.text_color | color_modify: 'alpha', 0.1 }};
            --overlay-background: {{ meganav_settings.color_overlay }};
            {% if meganav_settings.color_overlay_gradient != blank %}
                --overlay-background-gradient: {{ meganav_settings.color_overlay_gradient }};
            {% endif %}
            --overlay-opacity: {{ overlay_opacity }};
            "
            {{ shopify_attributes }}
            >
            <div class="meganav__inner">
                <div
                    class="meganav__nav"
                    data-column-count="{{ meganav_settings.column_count }}"
                >
                    {% for i in (1..6) %}
                        {% assign image_name = 'image_' | append: i %}
                        {% assign link_name = 'link_' | append: i %}
                        {% assign link_text_name = 'link_text_' | append: i %}
                        {% assign promo_text_name = 'promo_text_' | append: i %}

                        {% if meganav_settings[image_name] != blank %}
                            <div class="meganav__secondary">
                                <div
                                    {{ wrapping_attributes }}
                                    class="meganav-promo"
                                    style="
                                    --text-horizontal-position: {{ horizontal_position }};
                                    --text-vertical-position: {{ vertical_position }};
                                    --min-promo-height: {{ meganav_settings.promo_height }}px;
                                    "
                                >
                                    {%- if meganav_settings[link_name] != blank -%}
                                    <a href="{{ meganav_settings[link_name] }}" class="meganav__promo-image-link">
                                    {%- endif -%}
                                    {%- render 'image' with
                                    wrapper_class: "meganav__promo-image",
                                    image: meganav_settings[image_name],
                                    sizes_px: meganav_settings[image_name].width,
                                    focal_point: meganav_settings.focal_point,
                                    include_placeholder: false,
                                    aspect_ratio: "externally_set"
                                    -%}
                                    {%- if meganav_settings[link_name] != blank -%}
                                    </a>
                                    {%- endif -%}

                                    <div class="meganav__secondary-promo-overlay"></div>

                                    <div class="meganav__secondary-promo-text">
                                    {% unless meganav_settings[promo_text_name] == blank %}
                                        <h3 class="ff-heading fs-navigation-base meganav__secondary-promo-text-heading">{{ meganav_settings[promo_text_name] }}</h3>
                                    {% endunless %}
                                    {% if meganav_settings[link_text_name] and meganav_settings[link_text_name] != blank %}
                                        {%- render 'button-block' with
                                        wrapper_class: "meganav__secondary-promo-text-button",
                                        label: meganav_settings[link_text_name],
                                        link: meganav_settings[link_name],
                                        button_style: 'btn--secondary',
                                        is_overlay: true,
                                        is_x_small: true,
                                        allow_linkless: true,
                                        -%}
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if meganav_settings.bottom_button_text != blank %}
                    <div class="bottom-button-meganav ta-c">
                        <a class="link" href="{{ meganav_settings.bottom_button_url }}" tabindex="-1">{{ meganav_settings.bottom_button_text }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% when 'mobile' %}
        <li class="drawer-promo-li">
            <div class="drawer-promo-images"
                style="
                --secondary-width: 100%;
                --color-promo-text: {{ meganav_settings.text_color }};
                --color-text-overlay-button: {{ meganav_settings.text_color }};
                --color-background-overlay-button: {{ meganav_settings.text_color }};
                --color-background-overlay-outline-button-alpha:
                    {{ meganav_settings.text_color | color_modify: 'alpha', 0.1 }};
                    --overlay-background: {{ meganav_settings.color_overlay }};
                    {% if meganav_settings.color_overlay_gradient != blank %}
                        --overlay-background-gradient: {{ meganav_settings.color_overlay_gradient }};
                    {% endif %}
                    --overlay-opacity: {{ overlay_opacity }};
                "
                {{ shopify_attributes }}
            >

                {% for i in (1..6) %}
                        {% assign image_name = 'image_' | append: i %}
                        {% assign link_name = 'link_' | append: i %}
                        {% assign link_text_name = 'link_text_' | append: i %}
                        {% assign promo_text_name = 'promo_text_' | append: i %}

                        {% if meganav_settings[image_name] != blank %}
                            <div class="meganav__secondary">
                                <div
                                    {{ wrapping_attributes }}
                                    class="meganav-promo"
                                    style="
                                    --text-horizontal-position: {{ horizontal_position }};
                                    --text-vertical-position: {{ vertical_position }};
                                    --min-promo-height: {{ meganav_settings.promo_height_mobile }}px;
                                    "
                                >
                                    {%- if meganav_settings[link_name] != blank -%}
                                    <a href="{{ meganav_settings[link_name] }}" class="meganav__promo-image-link">
                                    {%- endif -%}
                                    {%- render 'image' with
                                    wrapper_class: "meganav__promo-image",
                                    image: meganav_settings[image_name],
                                    sizes_px: meganav_settings[image_name].width,
                                    focal_point: meganav_settings.focal_point,
                                    include_placeholder: false,
                                    aspect_ratio: "externally_set",
                                    no_lazy_load: true
                                    -%}
                                    {%- if meganav_settings[link_name] != blank -%}
                                    </a>
                                    {%- endif -%}

                                    <div class="meganav__secondary-promo-overlay"></div>

                                    <div class="meganav__secondary-promo-text">
                                    {% unless meganav_settings[promo_text_name] == blank %}
                                        <h3 class="ff-heading fs-navigation-base meganav__secondary-promo-text-heading">{{ meganav_settings[promo_text_name] }}</h3>
                                    {% endunless %}
                                    {% if meganav_settings[link_text_name] and meganav_settings[link_text_name] != blank %}
                                        {%- render 'button-block' with
                                        wrapper_class: "meganav__secondary-promo-text-button",
                                        label: meganav_settings[link_text_name],
                                        link: meganav_settings[link_name],
                                        button_style: 'btn--secondary',
                                        is_overlay: true,
                                        is_x_small: true,
                                        allow_linkless: true,
                                        -%}
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                {% endfor %}
                {% if meganav_settings.bottom_button_text != blank %}
                    <div class="bottom-button-meganav ta-c">
                        <a class="link" href="{{ meganav_settings.bottom_button_url }}" tabindex="-1">{{ meganav_settings.bottom_button_text }}</a>
                    </div>
                {% endif %}
            </div>
        </li>
{% endcase %}