<div
  class="
    section
    section--divider-{{ section.settings.divider_style }}
    {{ section.settings.section_padding }}
  "
>
  <div class="grid-collection" style="
    --desktop-columns: {{ section.settings.columns }};
    --mobile-columns: {{ section.settings.columns_mobile }};
    --desktop-column-gap: {{ section.settings.column_spacing }}px;
    --desktop-row-gap: {{ section.settings.row_spacing }}px;
    --mobile-column-gap: {{ section.settings.mobile_column_spacing }}px;
    --mobile-row-gap: {{ section.settings.mobile_row_spacing }}px;
  ">
    {%- unless section.settings.title == blank -%}
      {% liquid
        assign ratio = blank
        if section.settings.product_listing_aspect_ratio == 'square'
          assign ratio = '1'
        elsif section.settings.product_listing_aspect_ratio == 'portrait'
          assign ratio = '2 / 3'
        elsif section.settings.product_listing_aspect_ratio == 'landscape'
          assign ratio = '3 / 2'
        elsif section.settings.product_listing_aspect_ratio == 'short'
          assign ratio = '16 / 9'
        endif
      %}
      <div class="collection-grid-item
        animation
        animation--item
        {% if has_grid_reveal -%} animation--item-initial {%- endif %}
      ">
        <div class="grid-collection-item__inner title-collection-inner
          {% if section.settings.heading_alignment == 'left' %}
            ta-l
          {% elsif section.settings.heading_alignment == 'center' %}
            ta-c
          {% elsif section.settings.heading_alignment == 'right' %}
            ta-r
          {% endif %}
          "
        style="--ratio: {{ ratio }}; --bg: {{ section.settings.background_color | default: '#fff' }}; --text: {{ section.settings.text_color | default: '#111' }};"
        >
          <{{ section.settings.heading_tag }} class="grid-collection-grid__heading ff-heading fs-heading-1-base section-introduction__heading">
            {{ section.settings.title }}
          </{{ section.settings.heading_tag }}>
        </div>
      </div>
    {%- endunless -%}

    {% for product in section.settings.collection.products %}
      {% render 'grid-collection-item', prod: product,
        has_grid_reveal: true,
        product_columns_desktop: section.settings.columns_desktop,
        product_columns_mobile: section.settings.columns_mobile,
        product_listing_aspect_ratio: section.settings.product_listing_aspect_ratio,
        product_listing_media_fit: section.settings.product_listing_media_fit
      %}
    {% endfor %}

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image' %}
            {% liquid
              case section.settings.columns_desktop
                when '5'
                  assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 5), 270px' | replace: '[[mcc]]', section.settings.columns_mobile
                when '3'
                  assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 3), 450px' | replace: '[[mcc]]', section.settings.columns_mobile
                when '2'
                  assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 2), 690px' | replace: '[[mcc]]', section.settings.columns_mobile
                else
                  # Using a 4 item grid as default for sizes
                  assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 4), 304px' | replace: '[[mcc]]', section.settings.columns_mobile
              endcase
            %}

            <div class="collection-grid-item image-collection-grid-item
              animation
              animation--item
              {% if has_grid_reveal -%} animation--item-initial {%- endif %}
            " style="--column-pos: {{ block.settings.column_pos }}; --row-pos: {{  block.settings.row_pos }}; --row-pos-mobile: {{ block.settings.row_pos_mobile }};">
              <div class="grid-collection-item__inner image-collection-inner">
                {% if block.settings.image != blank %}
                  {% render 'image',
                    image: block.settings.image,
                    wrapper_class: '"grid-collection-item-image',
                    object_fit: 'cover',
                    include_placeholder: true,
                    sizes: sizes,
                    src_set_type: 'grid'
                  %}
                {% endif %}

                {% if block.settings.text != blank %}
                  <div class="grid-collection-item__meta">
                    <div class="grid-collection-item__text ta-c">
                      <h4 class="{% if block.settings.use_italic_font == true %}aparajita-font{% endif %} ff-heading fs-heading-4-base">{{ block.settings.text }}</h4>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% stylesheet %}
  .grid-collection {
    display: grid;
    grid-template-columns: repeat(var(--desktop-columns), 1fr);
    column-gap: var(--desktop-column-gap);
    row-gap: var(--desktop-row-gap);

    .grid-collection-item__meta {
      padding-top: var(--spacing-3);
    }

    @media (max-width: 959px) {
      grid-template-columns: repeat(var(--mobile-columns), 1fr);
      column-gap: var(--mobile-column-gap);
      row-gap: var(--mobile-row-gap);

      &[style*="--mobile-columns: 1;"] {
        grid-template-columns: 1;
        column-gap: 0px;
      }

      > .collection-grid-item:first-child {
        grid-column: span var(--mobile-columns);
      }

      .product-item__slider__content .scrollbar {
        max-width: 2rem;
        bottom: 0;
      }
    }
  }

  .title-collection-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    aspect-ratio: var(--aspect-ratio);
    width: 100%;
    background: var(--bg);
    color: var(--text);

    @media (min-width: 960px) {
      aspect-ratio: var(--ratio);
    }
  }

  .collection-grid-item {
    width: 100%;
    overflow: hidden;
  }

  .image-collection-grid-item {
    grid-column-start: var(--column-pos);
    grid-column-end: span 1; /* always 1 */
    
    grid-row-start: var(--row-pos);
    grid-row-end: span 2; 

    @media (max-width: 959px) {
      /* reset custom spans on mobile */
      grid-column: 1 / -1;
      grid-row-start: var(--row-pos-mobile);
      grid-row-end: auto;
    }
  }

  .image-collection-inner {
    display: flex;
    flex-direction: column;
  }

  .image-collection-inner .image img {
    object-fit: var(--object-fit);
    height: 100%;
  }

  .image-collection-inner, .image-collection-inner .image {
    height: 100%;
  }

  @media (max-width: 959px) {
    .title-collection-inner .fs-heading-1-base {
      font-size: var(--font-size-heading-3-base);
      text-align: center;
    }
    .title-collection-inner {
      padding: 1rem;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Grid Collection 2026",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.multi_column.settings.title.label",
      "default": "Multi-column"
    },
    {
      "id": "heading_tag",
      "type": "select",
      "label": "t:shared.section_blocks.heading.settings.heading_tag.label",
      "default": "h2",
      "options": [
        {
          "value": "h2",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h2"
        },
        {
          "value": "h3",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h3"
        },
        {
          "value": "h4",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h4"
        },
        {
          "value": "h5",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h5"
        },
        {
          "value": "h6",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h6"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:sections.multi_column.settings.heading_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:shared.settings.alignment_horizontal.option_left"
        },
        {
          "value": "center",
          "label": "t:shared.settings.alignment_horizontal.option_center"
        },
        {
          "value": "right",
          "label": "t:shared.settings.alignment_horizontal.option_right"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Heading background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Heading text color"
    },
    {
      "type": "select",
      "id": "columns",
      "label": "t:sections.multi_column.settings.columns.label",
      "default": "4",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multi_column.settings.columns.option_1"
        },
        {
          "value": "2",
          "label": "t:sections.multi_column.settings.columns.option_2"
        },
        {
          "value": "3",
          "label": "t:sections.multi_column.settings.columns.option_3"
        },
        {
          "value": "4",
          "label": "t:sections.multi_column.settings.columns.option_4"
        },
        {
          "value": "5",
          "label": "t:sections.multi_column.settings.columns.option_5"
        },
        {
          "value": "6",
          "label": "t:sections.multi_column.settings.columns.option_6"
        }
      ]
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "label": "t:sections.multi_column.settings.columns.label",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multi_column.settings.columns.option_1"
        },
        {
          "value": "2",
          "label": "t:sections.multi_column.settings.columns.option_2"
        }
      ]
    },
    {
      "type": "range",
      "id": "column_spacing",
      "label": "t:sections.multi_column.settings.column_spacing.label",
      "min": 4,
      "max": 48,
      "step": 4,
      "default": 28,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "row_spacing",
      "label": "t:sections.multi_column.settings.row_spacing.label",
      "min": 4,
      "max": 48,
      "step": 4,
      "default": 28,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Mobile spacing"
    },
    {
      "type": "range",
      "id": "mobile_column_spacing",
      "label": "Mobile column spacing",
      "min": 4,
      "max": 48,
      "step": 4,
      "default": 28,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "mobile_row_spacing",
      "label": "Mobile row spacing",
      "min": 4,
      "max": 48,
      "step": 4,
      "default": 28,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "product_listing_aspect_ratio",
      "label": "t:settings_schema.product_listing.settings.product_listing_aspect_ratio.label",
      "default": "portrait",
      "options": [
        {
          "value": "square",
          "label": "t:shared.settings.aspect_ratio.option_square"
        },
        {
          "value": "portrait",
          "label": "t:shared.settings.aspect_ratio.option_portrait"
        },
        {
          "value": "landscape",
          "label": "t:shared.settings.aspect_ratio.option_landscape"
        },
        {
          "value": "short",
          "label": "Short (16:9)"
        }
      ]
    },
    {
      "id": "product_listing_media_fit",
      "type": "radio",
      "label": "t:shared.settings.media_fit.label",
      "options": [
        {
          "label": "t:shared.settings.media_fit.option_cover",
          "value": "cover"
        },
        {
          "label": "t:shared.settings.media_fit.option_contain",
          "value": "contain"
        }
      ],
      "info": "t:shared.settings.media_fit.info",
      "default": "cover"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "default": "none",
      "options": [
        {
          "label": "t:shared.settings.section_style.divider_style.option_none",
          "value": "none"
        },
        {
          "label": "t:shared.settings.section_style.divider_style.option_solid",
          "value": "solid"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "default": "section--vertical-padding-top-bottom",
      "options": [
        {
          "label": "t:shared.settings.section_style.section_padding.option_none",
          "value": "section--vertical-padding-none"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_both",
          "value": "section--vertical-padding-top-bottom"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_top",
          "value": "section--vertical-padding-top-only"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_bottom",
          "value": "section--vertical-padding-bottom-only"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "limit": 2,
      "settings": [
        {
          "type": "select",
          "id": "column_pos",
          "label": "Column position",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2 (only if desktop columns are 2)"
            },
            {
              "value": "3",
              "label": "3 (only if desktop columns are 3)"
            },
            {
              "value": "4",
              "label": "4 (only if desktop columns are 4)"
            },
            {
              "value": "5",
              "label": "5 (only if desktop columns are 5)"
            },
            {
              "value": "6",
              "label": "6 (only if desktop columns are 6)"
            }
          ]
        },
        {
          "type": "select",
          "id": "row_pos",
          "label": "Row position",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2 (only if desktop columns are 2)"
            },
            {
              "value": "3",
              "label": "3 (only if desktop columns are 3)"
            },
            {
              "value": "4",
              "label": "4 (only if desktop columns are 4)"
            },
            {
              "value": "5",
              "label": "5 (only if desktop columns are 5)"
            },
            {
              "value": "6",
              "label": "6 (only if desktop columns are 6)"
            }
          ]
        },
        {
          "type": "header",
          "content": "Mobile row position"
        },
        {
          "type": "select",
          "id": "row_pos_mobile",
          "label": "Row position (mobile)",
          "default":  "2",
          "options": [
            {
              "value": "2",
              "label": "2 (only if rows are 2 and above)"
            },
            {
              "value": "3",
              "label": "3 (only if rows are 3 and above)"
            },
            {
              "value": "4",
              "label": "4 (only if rows are 4 and above)"
            },
            {
              "value": "5",
              "label": "5 (only if rows are 5 and above)"
            },
            {
              "value": "6",
              "label": "6 (only if rows are 6 and above)"
            },
            {
              "value": "7",
              "label": "7 (only if rows are 7 and above)"
            },
            {
              "value": "8",
              "label": "8 (only if rows are 8 and above)"
            },
            {
              "value": "9",
              "label": "9 (only if rows are 9 and above)"
            },
            {
              "value": "10",
              "label": "10 (only if rows are 10 and above)"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "use_italic_font",
          "label": "Use italic font",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid Collection 2026"
    }
  ]
}
{% endschema %}